# Q1.Consider the following python module.                                                       What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0

def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [2]:
b()   # First time a's value will be 0 so in c(a), it will return 0+2=2 then global a's value will be 2

In [3]:
b()   #Second time a's value will be 2 so in c(a), it will return 2+2=4 then global a's value will be 4

In [4]:
b()   #Third time a's value will be 4 so in c(a), it will return 4+2=6 then global a's value will be 6

In [5]:
a    # global a and a = 6

6

Ans. In a = c(a) global a is changed whenever c(a) which is = b() is being executed and value is being assigned to a.
Everytime b() is getting executed, global a is getting changed,so a = 6.

# Q2. Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [6]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print('file ' + file_name + ' is not found')
        
    finally:
        print("The 'try except' is finished")

In [7]:
file_length('tp.py')

11
The 'try except' is finished

In [8]:
file_length('id.py')

file id.py is not found
The 'try except' is finished

# Q3.  Write  a   class  named  Marsupial  that  can  be  used  as  shown.       Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object, b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and c. overloads the str operator so it behaves as shown below.

In [18]:
class Marsupial:
    def __init__(self):
        self.myList = []
    def put_in_pouch(self,item):       
        self.myList.append(item)
    def pouch_contents(self):          
        return self.myList

In [19]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [20]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):        
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    def jump(self,dx,dy):          
        self.x += dx
        self.y += dy
    def __str__(self):            
        return 'I am a Kangaroo located at co-ordinates ({},{})'.format(self.x,self.y)

In [21]:
k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
km=k.pouch_contents()
print(km)

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

I am a Kangaroo located at co-ordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at co-ordinates (3,0)

# Q4. Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:                                  Your function should stop when sequence gets to number 1. your implementation must be recursive, without any loops.

In [16]:
def collatz(x):
    if x == 1:                     # At x == 1 it will stop and return the list- making base.
        return [x]
    elif x%2==0:                         # In this condition it will check if the number is even or odd.
        return [x] + collatz(int(x/2))    # condition if the number is even. 
    else:                                
        return [x] + collatz(int(x*3+1))    # condition if the number is odd.

In [17]:
x=collatz(1)
y=collatz(10)
print("collatz(1)")
print(*x,sep = "\n")
print("\ncollatz(10)")
print(*y, sep = "\n")

collatz(1)
1

collatz(10)
10
5
16
8
4
2
1

# Q5. Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [19]:
def binary(decimal_number):
   if decimal_number < 2:          
     return (decimal_number)
   else:                               # If the decimal_number is more than 2 else condition will execute. 
    return (decimal_number % 2 +10 *
                binary(decimal_number % 2));

In [20]:
binary(0)

0

In [21]:
binary(1)

1

In [22]:
binary(3)

11

# Q6. Implement a class named HeadingParser that can be used to parse an HTML document, and retrive and print all the headings in the document.......

In [23]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser): 
    Headers = ["h1", "h2"]                        
    current = -1

    def handle_starttag(self, tag, attrs):       
        if tag in HeadingParser.Headers:         
            HeadingParser.current = HeadingParser.Headers.index(tag)
    
    def handle_endtag(self, tag):                
        if tag == HeadingParser.Headers[HeadingParser.current]:           
            HeadingParser.current = -1
            
    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)

In [24]:
infile = open("w3c.html","r")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Q7. Implement recursive function webdir() that takes as input: URL (as a string) and non-negative integers depth and indent.......

In [13]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):

    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':                               # search for href attribute and print its value
            for attr in attrs:
                if attr[0] == 'href':                     # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':                # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links
                
allLinks = []
    
def webdir(url,depth,indent):
        global allLinks   
        print(indent*" " + url)
        if depth == 0:
            return 
        for i in allLinks: 
            webdir(i, depth-2, indent+2)

In [14]:
url = ' http://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
allLinks = collector.getLinks()

In [15]:
webdir(' http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
  http://reed.cs.depaul.edu/lperkovic/test2.html

# Q8. Write SQL queries on the below database table that return:

In [62]:
import sqlite3
con = sqlite3.connect('ipydb2.db') # connecting databse.
cur = con.cursor()
cur.execute("CREATE TABLE weather (City text, Country text, Season text,Temperature float,Rainfall float)") #create table query.

In [63]:
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")     #Inserting values in table weather.
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [64]:
cur.execute('SELECT * FROM weather')    # prints all the values inside table. 
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# a) All the temperature data.

In [65]:
cur.execute('SELECT temperature FROM weather')
a=cur.fetchall()
for item in a:
    print(item)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

# b) All the cities, but without repetition.

In [66]:
cur.execute('SELECT DISTINCT City FROM weather')
i=cur.fetchall()
for item in i:
    print(item)

('Mumbai',)
('London',)
('Cairo',)

# c) All the records for India.

In [68]:
cur.execute("SELECT * FROM weather WHERE Country='India'")
j=cur.fetchall()
for item in j:
    print(item)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

# d) All the Fall records.

In [69]:
cur.execute("SELECT * FROM weather WHERE Season='Fall'")
x=cur.fetchall()
for item in x:
    print(item)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [70]:
cur.execute("SELECT City,country,Season FROM weather WHERE Rainfall BETWEEN 200 AND 400")
y=cur.fetchall()
for item in y:
    print(item)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [71]:
cur.execute("SELECT City,country FROM weather WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
z=cur.fetchall()
for item in z:
    print(item)

('Cairo', 'Egypt')
('Mumbai', 'India')

# g) The total annual rainfall for Cairo

In [72]:
cur.execute("SELECT SUM(Rainfall) FROM weather WHERE City='Cairo'")
n=cur.fetchall()
for item in n:
    print(item)

(27.6,)

# h) The total rainfall for each season.

In [74]:
cur.execute("SELECT SUM(Rainfall) FROM weather GROUP BY Season")
r=cur.fetchall()
for item in r:
    print(item)

(569.0,)
(192.29999999999998,)
(1706.5,)
(230.1,)

# Q9. Suppose list words is defined as follows: words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'].                                                                 Write list comprehension expressions that use list words and generate the following lists:                                                                                                                a) upper                                                                                                                            b) lower                                                                                                                            c) The list of length of words in list words.                                                                  d) The list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.          e) The list of words in list words containing 4 or more characters.

In [37]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [59]:
a = [elements.upper() for elements in words] 
print ('a = ', a)

b = [elements.lower() for elements in words]
print('b = ',b)
 
c = [len(elements) for elements in words]
print('c = ',c)

d = [[elements.upper(),elements.lower(),len(elements)] for elements in words]
print('d = ',d)

e = [elements for elements in words if len(elements)>=4]
print('e = ',e)

a =  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b =  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c =  [3, 5, 5, 3, 5, 4, 3, 4, 3]
d =  [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e =  ['quick', 'brown', 'jumps', 'over', 'lazy']